.textContainer {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  color: white;
  height: 65%;
  justify-content: space-around;
  padding-right: 5%;
  width: 30%;
}

.text-container-title {
  border-bottom: 2px solid #ffffff;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
  width: 85%;
}

.text-container-subheading {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.text-container-tagline {
  width: 85%;
}

.activeContainer {
  display: flex;
  align-items: center;
  margin-bottom: 50%;
}

.activeItem {
  display: flex;
  align-items: center;
}

.activeContainer img {
  padding-left: 10px;
}

.textContainer h1 {
  margin-bottom: 0px;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .textContainer {
    display: none;
  }
}
