Home {
  height: 100vh;
}

.home-img-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.home-img {
  height: 15rem;
}

.brain-left {
  position: fixed;
  left: 0;
  top: 25%;
}

.brain-right {
  position: fixed;
  right: 0;
  top: 25%;
}

.home-title {
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 700;
  position: absolute;
  top: 15%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.home-mobile-btns {
  position: fixed;
  bottom: 35%;
  left: 27%;
  height: 0.5rem;
}

.home-mobile-btn {
  font-size: 2.5rem;
  font-weight: 700;
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.btn-light {
  margin-left: 1rem;
}

@media (min-width: 992px) {
  .home-mobile-btns {
    left: 38%;
  }
}

@media (min-width: 1200px) {
  .home-title {
    top: 25%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .btn-right {
    margin-left: 5rem;
  }
}
