.Signup {
  height: 100vh;
  .form-container {
    background: transparent;
  }

  label {
    color: #ffffff;
  }
  .Signup-title {
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
    font-size: 2.5rem;
    position: absolute;
    top: 11%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    width: 80%;
  }

  .signup-form {
    position: absolute;
    top: 22%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 80%;
  }
}

@media (min-width: 992px) {
  .Signup {
    .Signup-title {
      width: 30%;
    }

    .signup-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30%;
    }
  }

  .form-group {
    width: 30vw;
  }

  .btn.btn-primary {
    margin-right: auto;
    width: 11vw;
  }
}
