.footer-text {
  visibility: hidden;
}

@media (min-width: 768px) {
  .footer-text {
    visibility: visible;
    font-size: 0.95rem;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    right: 25%;
    margin-bottom: 2rem;
  }
}

@media (min-width: 992px) {
  .footer-text {
    visibility: visible;
    font-size: 0.95rem;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    right: 40%;
    margin-bottom: 2rem;
  }
}
