.footer-text {
  color: #ffffff;
  position: fixed;
  bottom: 0;
  left: 11%;
  width: 90%;
}

@media (min-width: 576px) {
  Footer {
    width: 50%;
  }

  .footer-text {
    font-size: 0.95rem;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    left: 33%;
    width: 50%;
  }
}

// landscape small devices
@media (min-width: 576px) {
  .footer-text {
    left: 25%;
    width: 70%;
  }
}

@media (min-width: 992px) {
  .Footer {
    margin: 0 auto;
    text-align: center;
    width: 50vw;
  }

  #footer-info {
    margin: 0;
  }

  .footer-text {
    font-size: 0.95rem;
    color: #ffffff;
    bottom: 0;
    left: 16%;
  }
}
