.footer-text {
  color: #ffffff;
  position: fixed;
  bottom: 0;
  left: 13%;
  width: 90%;
}

@media (min-width: 576px) {
  Footer {
    width: 50%;
  }

  .footer-text {
    font-size: 0.95rem;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    left: 30%;
    width: 50%;
  }
}

@media (min-width: 992px) {
  .Footer {
    text-align: center;
    width: 50vw;
  }

  #footer-info {
    margin: 0;
  }

  .footer-text {
    font-size: 0.95rem;
    color: #ffffff;
    bottom: 0;
    left: 28%;
    text-align: center;
  }
}
