nav {
  background: transparent;
  .collapse.navbar-collapse {
    display: flex;
    justify-content: flex-end;
    width: 40%;
  }

  .navbar-brand {
    position: absolute;
    width: 100%;
    z-index: 5;
  }

  .nav-img {
    position: absolute;
    height: 70px;
    top: 55%;
  }

  .nav-img-brain-left {
    right: 4%;
  }
  .nav-img-brain-right {
    right: 14%;
  }

  button.btn-lg {
    width: 30%;
  }

  .btn {
    position: absolute;
    top: 25%;
    right: 2%;
    z-index: 5;
  }
  .btn-primary {
    right: 8%;
  }

  .btn-light {
    margin-left: 1rem;
  }
}

@media (min-width: 768px) {
  .nav-img-brain-left {
    left: 15%;
  }
  .nav-img-brain-right {
    left: 10%;
  }
}

@media (min-width: 992px) {
  nav {
    button.btn-lg {
      height: 3rem;
      width: 7%;
    }

    .btn {
      top: 45%;
    }

    .btn-primary {
      right: 10%;
    }
  }
  .nav-img-brain-left {
    left: 9%;
  }
  .nav-img-brain-right {
    left: 7%;
  }
}
