@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Open+Sans:wght@400;700&display=swap');

html {
  height: 100%;
}

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Helvetica Neue';
  background: linear-gradient(30deg, #0039cb, #dc39fa);
  margin: 0;
  height: 100vh;
  overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat';
}
